body {
    margin: 0 150px;
}


#cart-icon {
    height: 28px;
    width: auto;
    display: inline-block;
}

#nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#nav-links li:nth-child(2), li {
    color: #8987A1;
}

#nav-links li:first-child, #nav-links li:last-child {
    color: #000;
    
}
.hero-image {
    width: 100%;
    height: auto;

}
.big-image {
    width: 60vw;
}

.small-image {
    width: 40vw;
    height: 60vh;
}

.img-container {
  position: relative;
}

.img-text-center {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}
.join {
    background: url(../assets/news-letter-bg.png) no-repeat center;
    background-size: cover;
    text-align: center;
  
}
